In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path1 = "C:/Users/hp/Documents/GitHub/Customer-Churn-ML-Prediction/Datasets/data_1.csv"
file_path2 = "C:/Users/hp/Documents/GitHub/Customer-Churn-ML-Prediction/Datasets/data_3.csv"

data1 = pd.read_csv(file_path1)
data2 = pd.read_csv(file_path2)

In [3]:
# Merging the 2 training datasets
main_df = pd.concat([data1,data2])

# Cleaning Training data

In [4]:
# Checking for empty cells
main_df.isnull().any()

Column1              True
customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines        True
InternetService     False
OnlineSecurity       True
OnlineBackup         True
DeviceProtection     True
TechSupport          True
StreamingTV          True
StreamingMovies      True
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges         True
Churn                True
dtype: bool

## Handling "Column1"

In [5]:
main_df.Column1

0       0.0
1       1.0
2       2.0
3       3.0
4       4.0
       ...
2038    NaN
2039    NaN
2040    NaN
2041    NaN
2042    NaN
Name: Column1, Length: 5043, dtype: float64

In [6]:
# Removing Column1 from the dataset
main_df.drop('Column1', inplace=True, axis=1)

In [7]:
main_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.75,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.800000,1990.5,No
2039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.200000,7362.9,No
2040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.600000,346.45,No
2041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.400000,306.6,Yes
2042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.650000,6844.5,No

In [8]:
# Checking for empty cells
main_df.isnull().any()

customerID          False
gender              False
SeniorCitizen       False
Partner             False
Dependents          False
tenure              False
PhoneService        False
MultipleLines        True
InternetService     False
OnlineSecurity       True
OnlineBackup         True
DeviceProtection     True
TechSupport          True
StreamingTV          True
StreamingMovies      True
Contract            False
PaperlessBilling    False
PaymentMethod       False
MonthlyCharges      False
TotalCharges         True
Churn                True
dtype: bool

## Replacing values in multiple columns

In [9]:
# Replace values in multiple columns
columns_to_replace = ['MultipleLines', 'PhoneService', 'DeviceProtection', 'InternetService', 
                      'OnlineSecurity', 'OnlineBackup', 'StreamingTV', 'TechSupport', 'StreamingMovies', 
                      'Churn', 'SeniorCitizen', 'Partner', 'Dependents', 'PaperlessBilling']

# Define the mapping of values to replace
value_mapping = {
    True: 'Yes',
    False: 'No',
    np.nan: 'No',
    '': 'No',
    'NaN': 'No',
    'Nan': 'No',
    'NaN': 'No',
    0: 'No',
    1: 'Yes',
    'No phone service': 'No',
    'No internet service': 'No'
}

# Loop through each column and replace the values
for column in columns_to_replace:
    main_df[column] = main_df[column].replace(value_mapping)

## Handling column "TotalCharges"

In [10]:
main_df["TotalCharges"].isnull().sum()

5

In [11]:
a = main_df["TotalCharges"].dropna() # dropping null values

In [12]:
a = a.astype(str) # changing to string to replace non int values

In [13]:
# replacing values

a = a.apply(lambda x : x.replace('',"0"))
a = a.apply(lambda x : x.replace("0 0","0"))

In [14]:
a = a.astype(float) # changing to float to calculate mean

In [15]:
my_mean = a.mean()

In [16]:
main_df["TotalCharges"] = main_df["TotalCharges"].fillna(my_mean) # filling null values by mean

In [17]:
main_df["TotalCharges"].isnull().sum()

0

In [18]:
main_df["TotalCharges"] = main_df["TotalCharges"].apply(lambda x : str(x).replace(" ","0"))

In [19]:
main_df["TotalCharges"] = main_df["TotalCharges"].astype(float)

In [20]:
main_df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [21]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   object
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     5043 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    5043 non-null   object
 10  OnlineBackup      5043 non-null   object
 11  DeviceProtection  5043 non-null   object
 12  TechSupport       5043 non-null   object
 13  StreamingTV       5043 non-null   object
 14  StreamingMovies   5043 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5043 non-null   float64
 20  Churn             5043 non-null   object
dtypes: float64(2), int64(1), object(18)
memory usage: 866.8+ KB

### Now our data is cleaned

In [22]:
main_df.to_csv("C:/Users/hp/Documents/GitHub/Customer-Churn-ML-Prediction/Datasets/training_data.csv"
)

In [23]:
main_df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,No,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.850000,29.850000,No
1,5575-GNVDE,Male,No,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.950001,1889.500000,No
2,3668-QPYBK,Male,No,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.849998,108.150002,Yes
3,7795-CFOCW,Male,No,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.299999,1840.750000,No
4,9237-HQITU,Female,No,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.699997,151.649994,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,No,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.800000,1990.500000,No
2039,2234-XADUH,Female,No,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.200000,7362.900000,No
2040,4801-JZAZL,Female,No,Yes,Yes,11,No,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.600000,346.450000,No
2041,8361-LTMKD,Male,Yes,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.400000,306.600000,Yes
2042,3186-AJIEK,Male,No,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.650000,6844.500000,No